* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

ol {
    list-style-type: none;
    counter-reset: li;
}

li {
    padding: 5px;
    counter-increment: li;
    font-weight: bold;
    color: red;
}

ol li::before {
    content: counter(li)".";
    color: black;
    font-weight: normal;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 3em;
}
